/* En HTML va directamente el nombre */
/* En clases va con "." (punto) adelante*/
/* En ID va con "#" adelante*/

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    color: rgb(39, 39, 39);
}
#redes{
    text-align: center;
}
ul li{
    list-style-type: none;
    float: right;
}
.logoArgentinaPrograma{
    width: 120px;
    filter: invert(1);
}
.nombredeperfil{
    font-size: 2rem;
    padding: 2rem 0.5rem 1rem 0.5rem;
}
section.banner{
    background-image: linear-gradient(
        rgba(0,0,0,0.2), 
        rgba(0,0,0,0.3)
        ),
         url(../img/banner.jpg);
    width: fluid;
    height: 15rem;
    position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;
    background-repeat: no-repeat;
}
h3.intro{
    padding-top: 10%;
    font-size: 1.15rem;
}
h1.intro{
    font-size: 2rem;
}
h2.intro{
    font-size: 1.25rem;
}
#sobremi{
    background-color: rgb(244,224,186);
}