/* En HTML va directamente el nombre */
/* En clases va con "." (punto) adelante*/
/* En ID va con "#" adelante*/

body{
    background-color: cornflowerblue;
    color: black;
}
#redes{
    text-align: center;
}
ul li{
    list-style-type: none;
    float: right;
}
.logoArgentinaPrograma{
    width: 120px;
}
.imagendeperfil{
    border-radius:100%;
    width: 250px;
    height: 315px;
    margin: 0.5rem 0.5rem 0rem 0.5rem;
    padding: 0rem 0rem 0rem 0rem;
    border-style:solid ;
    
}
.nombredeperfil{
    font-size: 2rem;
    padding: 2rem 0.5rem 1rem 0.5rem;
}
.fotodeperfil{
    justify-items: end;
    display: flex;
}